
.HomePage__btn-more {
    color: white;
    background-color: #292b2c;
    font-weight: bold;
    font-size: smaller;
}

.HomePage__btn-more:hover {
    color: white;
    background-color: #292b2c;
}