.Header__img-logo{
    width: 55%;
}

.Header__check {
    color:rgb(133, 177, 133);
    
}

.Header__check_0 {
    opacity: 0%;
}

.Header__right {
    font-size: small;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {

    .Header__right {
        padding-top: 2em;
    }

}